{% extends 'base.html' %}
{% block content%}
<br>
<div class="row left">
    <h4>Alerts</h4>
</div>
<div class="row">
    {% for alert in alert_list %}
    <div class="col s6 m4 l3">
        <div class="card small horizontal hoverable">
            <div class="card-content">
                <span class="activator truncate alert card-title">{{ alert.title }}</span>
                <p>{{ alert.date }}</p>
                <p>Posted by: {{ alert.author }}</p>
                <p>{{ alert.description }}</p>
            </div>
 
            <div class="card-action">
                <a href="{% url 'alerts_details' alert.id %}">Details</a>
                {% if user == alert.author %}
                <a href="{% url 'alerts_update' alert.id %}">Edit</a>
                <a href="{% url 'alerts_delete' alert.id %}">Delete</a>
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<div class="fixed-action-btn">
    <a href="{% url 'alerts_create' %}" class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">add</i></a>
</div>

<script>
    $(document).ready(function(){
    $('.fixed-action-btn').floatingActionButton();
    });
</script>
{% endblock %}