{% extends 'base.html' %}
{% block content%}
<!-- <div class="row s12 m12 l12 left">
    <a href="#!" class="breadcrumb clean">First</a>
    <a href="#!" class="breadcrumb clean">Second</a>
    <a href="#!" class="breadcrumb clean">Third</a>
</div> -->
<div class="container">
    <a href="{% url 'events_index' %}">Back</a>
</div>
<div class="container">
    <h3>Event: {{ object.name}}</h3>
    <p>Date: {{ object.date }}</p>
    <p>description: {{ object.description}}</p>
    <p>admin: {{ object.admin.username}}</p>
    <p>location: {{ object.location }}</p>
    <div>
        <a href="{% url 'events_update' object.id %}">Edit</a>
        <a href="{% url 'events_delete' object.id %}">Delete</a>
    </div>
</div>
{% endblock %}