{% extends 'base.html' %}
{% block content%}

<!-- Add event link -->
<a href="{% url 'postings_create' %}">Add new posting</a>
{% for posting in posting_list %}
<div class="row">
    <div class="col s12 m4">
        <div class="card small">
            <div class="card-image">
                <img src="https://static1.squarespace.com/static/5335147ee4b033076efd1226/53409a42e4b083cf3cf2d849/579703fd440243061fe27ff9/1469514754585/20160723_090529000_iOS.jpg?format=1000w">
                <span class="card-title">{{ posting.title }}</span>
            </div>
            <div class="card-content">
                <p> {{ posting.description }}</p>
            </div>
            <div class="card-action">
                <a href="{% url 'postings_update' posting.id %}">Edit</a>
                <a href="{% url 'postings_delete' posting.id %}">Delete</a>
            </div>
        </div>  
    </div>  
    {% endfor %}
</div>  

{% endblock %}