body {
    height: 100vh;
    /* display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    align-items: center; */
    width: 100vw;
    overflow: unset !important;
}  

.nav-wrapper {
    width: 100vw;
    padding: 20px;
}

.brand-logo {
    font-family: 'Lobster', cursive;  
    padding-left: 100px;
}

footer {
    padding-top: 0;
    text-align: right;
    width: 90%;
    margin: 0px 50px;
}