<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>leaflet</title>
    <!-- Materialize CDN -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css'%}">
    <link href="https://fonts.googleapis.com/css?family=Lobster|Roboto" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Added jQuery -->
    <script type = "text/javascript" src = "https://code.jquery.com/jquery-2.1.1.min.js"></script>           
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
</head>

<body>
    <div class="container header">
        <nav>
            <div class="cyan lighten-3 nav-wrapper">
                {% if user.is_authenticated %}
                    <a href="{% url 'main' %}" class="title brand-logo">leaflet</a>
                {% else %}
                    <a href="{% url 'login' %}" class="title brand-logo">leaflet</a>
                {% endif %}
                <a href="#" data-activates="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                <!-- login / out or sign up based on auth'd user -->
                <ul id="nav-mobile" class="right">
                {% if user.is_authenticated %}
                    <li><a href="{% url 'logout' %}">Log Out</a></li>
                {% else %}
                    <li><a href="{% url 'login' %}">Log In</a></li>
                    <li><a href="{% url 'signup' %}">Sign Up</a></li>
                {% endif %}
                </ul>

                <!-- nav that appears on medium sized screen or larger  -->
                <ul class="right hide-on-med-and-down">
                    <li class="tab"><a href="{% url 'main' %}">Main</a></li>
                    <li class="tab"><a href="{% url 'events_index' %}">Events</a></li>
                    <li class="tab"><a href="{% url 'postings_index' %}">Postings</a></li>
                    <li class="tab"><a href="{% url 'alerts_index' %}">Alerts</a></li>
                    {% if user.is_authenticated %}
                    <li class="tab"><a href="{% url 'account_settings' request.user.id %}">Profile Settings</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>
        <!-- hidden side nav -->
        {% if user.is_authenticated %}
        <ul class="sidenav" id="mobile-demo">
            <li class="tab"><a href="{% url 'main' %}">Main</a></li>
            <li class="tab"><a href="{% url 'events_index' %}">Events</a></li>
            <li class="tab"><a href="{% url 'postings_index' %}">Postings</a></li>
            <li class="tab"><a href="{% url 'alerts_index' %}">Alerts</a></li>
            <li class="tab"><a href="{% url 'account_settings' request.user.id %}">Profile Settings</a></li>
        </ul>
        {% endif %}
    </div>     


    {% block content %}
    {% endblock %}


    <footer class="cyan darken-3 page-footer right">
       All Rights Reserved, &copy; 2019 MGR International &nbsp;
    </footer>

    <script>
    $(".sidenav-trigger").sideNav();
    </script>
</body>   
</html>