{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>leaflet</title>
    <!-- Materialize CDN -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Materialize icons -->
    <link href="https://fonts.googleapis.com/css?family=Lobster|Roboto" rel="stylesheet">    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Added jQuery -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/landing.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> 
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>   
    <!-- custom js -->
    <script type="text/javascript" src = "{% static 'javascript/main.js' %}"></script>    
</head>
<body>
    <header>

    </header>                
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
    <footer class="darken-3 page-footer">
        <div class="right">All Rights Reserved, &copy; 2019 MGR International &nbsp;</div>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script>
</body>
</html>