{% extends 'base.html' %}
{% block content%}

<!-- Add event link -->
<!-- <a href="{% url 'alerts_create' %}">Add new alert</a> -->

<div class="row">
    {% for alert in alert_list %}
    <div class="col s12 m6">
        <div class="card hoverable">
            <div class="card-content">
                <span class="truncate alert card-title">{{ alert.title }}</span>
                <p>{{ alert.date }}</p>
                <p><!-- put author here--></p>
                <p class="truncate">{{ alert.description }}</p>
            </div>
            <div class="card-action">
                <a href="{% url 'alerts_details' alert.id %}">Details</a>
                {% if user == alert.author %}
                <a href="{% url 'alerts_update' alert.id %}">Edit</a>
                <a href="{% url 'alerts_delete' alert.id %}">Delete</a>
                {% endif %}
            </div> 
        </div>
    </div>
    {% endfor %}
</div>

<div class="fixed-action-btn">
    <a href="{% url 'alerts_create' %}" class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">add</i></a>
</div>

<script>
    $(document).ready(function(){
    $('.fixed-action-btn').floatingActionButton();
    });
</script>
{% endblock %}