{% extends 'base.html' %}
{% block content%}
<div class="row">
    <a href="">Back to Alerts</a>
</div>
<div class="container">
    <h3>{{ object.title}}</h3>
    <p>Posted: {{ object.date }}</p>
    <p>By: {{ object.author.user.nickname }}</p>
    <p>{{ object.description}}</p>
    <div>
        <a class="btn waves-effect waves-light" href="{% url 'alerts_update' object.id %}">Edit</a>
        <a class="btn waves-effect waves-light red" href="{% url 'alerts_delete' object.id %}">Delete</a>
    </div>
</div>
{% endblock %}