{% extends 'base.html' %}
{% block content%}
<br>

<div class="row">
    <h4>{{user.profile.zip_code }} Events</h4>
    <p>Events from your neighbors will be posted here. <br>Click the yellow calendar button to post an event.</p>
</div>
<div class="row">
{% for event in event_list %}
        <div class="col s12 m6 l4">
            <div class="card medium hoverable">
                <div class="card-image">
                {% if event.photo %}
                    <img src="{{ event.photo.url }}">
                {% else %}
                    <img src="https://i.imgur.com/8jrBPrH.png">
                {% endif %}
                <span class="card-title card-title-background truncate">{{ event.name}}</span>
                </div>
                <div class="card-content">
                    <p>Date: {{ event.date }}</p>
                    <p>Location: {{ event.location }}</p>
                    <p>By: {{ event.admin.username}}</p>
                    <!-- <p class="">{{ event.description}}</p> -->
                </div>
                <div class="card-action">
                    <a href="{% url 'events_details' event.id %}">Details</a>
                    {% if user == event.admin %}
                    <a href="{% url 'events_update' event.id %}">Edit</a>
                    <a href="{% url 'events_delete' event.id %}">Delete</a>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

</div>
<div class="fixed-action-btn">
    <a href="{% url 'events_create' %}" class="btn-floating btn-large waves-effect waves-light cyan yellow darken-3"><i class="material-icons">event</i></a>
</div>

<script>
    $(document).ready(function(){
    $('.fixed-action-btn').floatingActionButton();
    });
</script>

{% endblock %}