{% extends 'base.html' %}

{% block content%}
<div class="container">
    <div class="row">
        <br>
        <h3>Welcome, {{ user.profile.nickname }}!</h3>
        <h5>What's new in the {{ user.profile.zip_code }}?</h5>
        <div class="col s12 m12 l12">
            {% if user.profile %}
            <iframe width="100%" height="300px" src="https://maps.google.com/maps?width=100%&amp;height=600&amp;hl=en&amp;q=%20{{user.profile.zip_code}}&amp;ie=UTF8&amp;t=&amp;z=14&amp;iwloc=B&amp;output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0">
                <a href="https://www.maps.ie/map-my-route/">Map a route</a>
            </iframe>
            {% endif %}
            <h5 class="right">It is currently {{temp}}°F</h5>
            <img src="http://openweathermap.org/img/w/{{ weather }}.png" alt="weather icon" id="weather-icon">
        </div>
    </div>
</div>
<script>
$(document).on('ready', function(){
    $('.tabs').tabs({
      swipeable : true,
      responsiveThreshold: Infinity
    });
  });
</script>
{%endblock%}