{% extends 'base.html' %}
{% block content %}
<br>
<h3>Profile Info</h3>
{% if user.profile.photo %}
<img id="profile-pic" src="{{user.profile.photo.url}}">
{% endif %}
{% if user.profile %}
<br>
<a href="{% url 'add_photo' 'profile' user.profile.id %}" class="btn waves-effect waves-light">add photo</a>
{% endif %}

<form action="" method="post">
    {% csrf_token %}
    <table>
        {{ form.as_table }}
    </table>
    <input class="btn waves-effect waves-light"type="submit" value="Update">
</form>
{% endblock %}